.tile {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  display: inline-block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 20px);
}

.tile.start {
  background-color: green;
}

.tile.end {
  background-color: red;
}

.tile.path {
  background-color: blue;
}
